<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
<div th:replace="partials/navbar.html :: navbar">
    <!--     awesome navbar goes here -->
</div>
<h1>About Us</h1>
<!--GOt this cool place holder design here https://www.bootdey.com/snippets/view/about-us-page-section-->

</body>
</html>