<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Register</title>-->
<!--</head>-->
<!--<body>-->
<!--<section class="vh-100 bg-image"-->
<!--         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">-->
<!--    <div class="mask d-flex align-items-center h-100 gradient-custom-3">-->
<!--        <div class="container h-100">-->
<!--            <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--                <div class="col-12 col-md-9 col-lg-7 col-xl-6">-->
<!--                    <div class="card" style="border-radius: 15px;">-->
<!--                        <div class="card-body p-5">-->
<!--                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>-->

<!--&lt;!&ndash;                            <form>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="form-outline mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />&ndash;&gt;-->
<!--&lt;!&ndash;                                    <label class="form-label" for="form3Example1cg">Your Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="form-outline mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" />&ndash;&gt;-->
<!--&lt;!&ndash;                                    <label class="form-label" for="form3Example3cg">Your Email</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="form-outline mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" />&ndash;&gt;-->
<!--&lt;!&ndash;                                    <label class="form-label" for="form3Example4cg">Password</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="form-outline mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />&ndash;&gt;-->
<!--&lt;!&ndash;                                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="form-check d-flex justify-content-center mb-5">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />&ndash;&gt;-->
<!--&lt;!&ndash;                                    <label class="form-check-label" for="form2Example3g">&ndash;&gt;-->
<!--&lt;!&ndash;                                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </label>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="d-flex justify-content-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button type="button"&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                        class="fw-bold text-body"><u>Login here</u></a></p>&ndash;&gt;-->

<!--&lt;!&ndash;                            </form>&ndash;&gt;-->


<!--                            <div th:replace="partials/navbar.html :: navbar">-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" media=”screen” />
    <title>Document</title>
</head>
<body>
<div th:replace="partials/navbar.html :: navbar">
    <!--     awesome navbar goes here -->
</div>
<!--cool place holder code found here https://mdbootstrap.com/docs/standard/extended/login/-->
<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg'); opacity: 0;
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div>
                        <p>This div is what I want to customize!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
</body>
</html>