<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" media=”screen” />
    <title>Document</title>
</head>
<body>
<div th:replace="partials/navbar.html :: navbar">
<!--     awesome navbar goes here -->
</div>
<!--cool place holder code found here https://mdbootstrap.com/docs/standard/extended/login/-->
<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        opacity: 0;
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Sign up now</h2>
<!--                    <form th:action="@{/login}" th:method="POST">-->
<!--                        &lt;!&ndash; 2 column grid layout with text inputs for the first and last names &ndash;&gt;-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6 mb-4">-->
<!--                                <div class="form-outline">-->
<!--                                    <input type="text" id="form3Example1" class="form-control" />-->
<!--                                    <label class="form-label" for="form3Example1">First name</label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6 mb-4">-->
<!--                                <div class="form-outline">-->
<!--                                    <input type="text" id="form3Example2" class="form-control" />-->
<!--                                    <label class="form-label" for="form3Example2">Last name</label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Email input &ndash;&gt;-->
<!--                        <div class="form-outline mb-4">-->
<!--                            <input type="email" id="form3Example3" class="form-control" />-->
<!--                            <label class="form-label" for="form3Example3">Email address</label>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Password input &ndash;&gt;-->
<!--                        <div class="form-outline mb-4">-->
<!--                            <input type="password" id="form3Example4" class="form-control" />-->
<!--                            <label class="form-label" for="form3Example4">Password</label>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                        <div class="form-check d-flex justify-content-center mb-4">-->
<!--                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />-->
<!--                            <label class="form-check-label" for="form2Example33">-->
<!--                                Subscribe to our newsletter-->
<!--                            </label>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                        <button type="submit" class="btn btn-primary btn-block mb-4">-->
<!--                            Sign up-->
<!--                        </button>-->

<!--                        &lt;!&ndash; Register buttons &ndash;&gt;-->
<!--                        <div class="text-center">-->
<!--                            <a href="/register">Register Here</a>-->

<!--                            <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                                <i class="fab fa-facebook-f"></i>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                                <i class="fab fa-google"></i>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                                <i class="fab fa-twitter"></i>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                                <i class="fab fa-github"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </form>-->

                    <form th:action="@{/login}" th:method="post">
                        <label for="username">Username</label>
                        <input id="username" name="username" type="text" />
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" />
                        <input type="submit" value="Log In" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
</body>
</html>